html {
    font-family: 'PT Serif';
}

body {
    padding: 0em 0em 0em 0em;
}
nav {
    background-color: aqua;
    padding: 0em 1em 0em 1em;
    top: 0;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 999;
}
.within-padding {
    padding: 0em 1em 0em 1em;
}
@media screen and (min-width: 900px) {
    .within-padding {
        padding: 0em 5em 0em 5em
    }
    nav {
        padding: 0em 5em 0em 5em;
    }
}

h1 {
    font-family: 'PT Sans';
    font-size: 3em;
}

.home h1 {
    font-size: 5em;
}
article h2 a {
    font-size: 2em;
}
p {
    font-size: 1em;
}

hr {
    border-top: 0.5em double #000000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFFFFF;
}

nav li {
    float: left;
}

nav li a {
    font-family: 'PT Sans';
    font-size: 1.5em;
    display: block;
    color: #111111;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
    background-color: #FFFFFF;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul {
    background-color: aqua;
}

.nav-head li a {
    font-weight: 900;
    background-color: #111111;
    color: #FFFFFF;
}
.nav-head a:hover {
    color: #222222
}


#headline {
    font-family: 'PT Sans';
    font-weight: 700;
    color: #999999;
}
#headline:hover {
    color: #000000;
}

nav {
    
}

.post-info {
    color: #555555;
    font-size: 1.5em;
}

footer {
    width: 100%;
    background-color: #111111;
    color: #EEEEEE;
}
