<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
            
			<!-- link to main stylesheet -->
            <link rel="stylesheet" type="text/css" href="https://heliotrope3n.github.io/energy-journal/css/normalize.css">
			<link rel="stylesheet" type="text/css" href="https://heliotrope3n.github.io/energy-journal/css/style.css">
            
            <!-- fonts -->
            <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/energy-journal">Home</a></li>
		        	<li><a href="/energy-journal/blog">Blog</a></li>
	        		<li><a href="/energy-journal/about">About</a></li>
	        		<li><a href="/energy-journal/contact">Contact</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
                <br/>
	    		<ul>
	        		<li>Send love for these posts!</li>
                    <li><a href="mailto:ningsongshen123@outlook.com">email</a></li>
	        		<li><a href="https://github.com/heliotrope3n/energy-journal">github.com/heliotrope3n/energy-journal</a></li>
                    <li><a href="https://heliotrope3n.github.io">heliotrope3n.github.io</a></li>
				</ul>
			</footer>
		</body>
	</html>