<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>

        <!-- link to main stylesheet -->
        <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/normalize.css">
        <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/style.css">

        <!-- fonts -->
        <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">
    </head>
    <body>
        <nav>
            <ul>
                <span class="nav-head"><li><a href="{{ site.url }}">t-E-CH</a></li></span>
                <li><a href="{{ site.url }}">Home</a></li>
                <li><a href="{{ site.url }}/blog">Archives</a></li>
                <li><a href="{{ site.url }}/about">About</a></li>
                <li><a href="{{ site.url }}/contact">Contact</a></li>
            </ul>
        </nav>
        <div class="within-padding">
            <br/>
            <div class="container">

                {{ content }}

            </div><!-- /.container -->
            </div>
            <footer>
                <br/>
                <ul>
                    <li>Send love for these posts!</li>
                    <li><a href="mailto:ningsongshen123@outlook.com">email</a></li>
                    <li><a href="https://github.com/heliotrope3n/the-energy-chronicles">github.com/heliotrope3n/the-energy-chronicles</a></li>
                    <li><a href="https://heliotrope3n.github.io">heliotrope3n.github.io</a></li>
                </ul>
            </footer>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script>
            $(document).ready(function() {
                var contentPlacement = $('nav').position().top + $('nav').height();
                $('.within-padding').css('margin-top',contentPlacement);
            });
        </script>
    </body>
</html>