<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{{ page.title }}</title>

        <!-- link to main stylesheet -->
        <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/normalize.css">
        <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/style.css">

        <!-- fonts -->
        <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">
        
        <!-- FAvicon -->
        <link rel="shortcut icon" type="image/png" href="images/favicon.ico">
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body>
        <nav>
            <ul>
                <span class="nav-head"><li><a href="{{ site.url }}">t-E-CH</a></li></span>
                <li><a href="{{ site.url }}" id="nav-home">Home</a></li>
                <li><a href="{{ site.url }}/blog" id="nav-blog">Posts</a></li>
                <li><a href="{{ site.url }}/about" id="nav-about">About</a></li>
                <div class="nav-right">
                    <li><a href="https://facebook.com/theENERGYCHRONICLES" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                    <li><a href="https://instagram.com/theENERGYCHRONICLES" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="https://github.com/heliotrope3n/the-energy-chronicles" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                </div>
            </ul>
        </nav>
        <div class="within-padding">
            <br/>
            <div class="restricted100">
                <h1 id="mainhead">the ENERGY CHRONICLES</h1>
                <p id="headline">Ningsong Shen. Grade 11 Physics student. Learning about ENERGY. Website updates weekdays. Never finished. <a href="https://twitter.com/hashtag/fongfizx?f=tweets&vertical=default" target="_blank">#FongFizX</a></p>
            </div>
            <div class="container">

                {{ content }}

            </div><!-- /.container -->
        </div>

        <br/>


        <footer>
            <br/>
            <div class="foot-left">
                <h2>Did you enjoy the ENERGY CHRONICLES? </h2>
                <p>Like and share on social media:</p>
                <p><a class="footer-icon" href="https://facebook.com/theENERGYCHRONICLES" target="_blank"><i class="fa fa-facebook-official fa-3x" aria-hidden="true"></i></a>&nbsp; &nbsp; &nbsp;<a class="footer-icon" href="https://instagram.com/theENERGYCHRONICLES" target="_blank"><i class="fa fa-instagram fa-3x" aria-hidden="true"></i></a></p>
                <p>Add your comment to articles you enjoyed.</p>
                <br/>

                <a href="{% for post in site.posts limit:1 %}
                         {{ post.url }}
                         {% endfor %}"><h3>READ THE LATEST POST</h3></a>
            </div>
            <div class="foot-right">
                <h2>Links</h2>
                <ul>
                    <li>Home</li>
                    <li>Recent</li>
                    <li>Post Listing</li>
                    <li>About</li>
                    <li>Comment on Disqus</li>
                    <li>Like us on Facebook</li>
                    <li>Follow us on Instagram</li>
                    <li>Check out code on Github</li>
                    <li>#FongFizX</li>
                </ul>
            </div>
            <br/>

        </footer>


        <script src="https://use.fontawesome.com/b8cc957f87.js"></script>
        <script>
            // The sticky navbar and content positioning below
            $(document).ready(function() {
                var contentPlacement = $('nav').position().top + $('nav').height();
                $('.within-padding').css('margin-top',contentPlacement);


            });

            /* The logo to show up after scroll
            $(document).ready(function(){
                 //hides them logo when the page loads
                 $(".nav-head").hide();
            });

            $(document).scroll(function () {
            var y = $(document).scrollTop(),
               image = $(".nav-head"),
               header = $("nav");


            if (y >= 100) {
                //show the image and make the header fixed
                header.addClass('fixed');
                image.show();
            } else {
                //put the header in original position and hide image
                header.removeClass('fixed');
                image.hide();
            }
            });*/
        </script>
    </body>
</html>